@model MyRideSharing.Models.CarOwner

@{
    ViewBag.Title = "جزئیات راننده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>راننده</h2>
<hr />

<div>
    <dl class="main-container">

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)<span>&nbsp;</span>@Html.DisplayFor(model => model.User.LastName)

        </dd>
        <hr />
        
    <dt>
        @Html.DisplayName("میانگین امتیاز")
    </dt>

    <dd>
        @ViewBag.Rate
    </dd>
    <hr />
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarProdYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarProdYear)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPlate)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.User.Gender1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gender1.Title)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.User.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.StudentId)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <hr />

    </dl>
</div>






    <p>
        @Html.ActionLink("امتیازدهی به راننده", "RateDriver", new { id = Model.Id }) |
        @Html.ActionLink("سفرهای این راننده", "CarOwnerRides", new { id = Model.Id }) |
        @Html.ActionLink("بازگشت به لیست رانندگان", "Index")
    </p>



