@model IEnumerable<MyRideSharing.Models.CarOwner>

@{
    ViewBag.Title = "لیست رانندگان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<br />
<h3>لیست راننده ها </h3>
<br />
@ViewBag.Error



<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>

                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </th>

                <th class="text-right">
                    @Html.DisplayNameFor(model => model.CarPlate)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.CarName)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.CarColor)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.CarProdYear)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.StudentId)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)<span>&nbsp;</span>@Html.DisplayFor(modelItem => item.User.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CarPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarProdYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.StudentId)
                </td>
                <td>

                    @Html.ActionLink("جزئیات", "Details", new { id = item.Id })  <span> |</span>
                    @Html.ActionLink("سفرها", "CarOwnerRides", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>