@model MyRideSharing.Models.CarOwner

@{
    ViewBag.Title = "امتیازدهی به راننده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info text-center">
    <div class="info-title"><strong>امتیازدهی به راننده</strong></div>
    <hr>
</div>

@ViewBag.Error

<hr/>

<div>
    <hr />
    <dl class="main-container">

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)<span>&nbsp;</span>@Html.DisplayFor(model => model.User.LastName)

        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarProdYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarProdYear)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CarPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPlate)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.User.Gender1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gender1.Title)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.User.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.StudentId)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <hr />


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <hr />

    </dl>

    @using (Html.BeginForm("RateDriver", "CarOwners", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {
        @Html.AntiForgeryToken()

        @Html.DisplayName("امتیاز")
        <br/>

        <span class="fa fa-star" aria-hidden="true">
        </span>
        <input type="number" name="rate" id="rate" placeholder="امتیاز" maxlength = "1" onkeyup = "this.value = this.value.replace(/[^0-5]/, '')" />
        <br/>
        <div class="form-actions no-color">
            <input type="submit" value="ثبت امتیاز" class="btn btn-default" /> |
            @Html.ActionLink("لیست راننده ها", "Index")
        </div>
    }
</div>


    @*<button class="btn btn-default-custom" type="submit" value="ثبت سفر">ثبت سفر</button>*@


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}

