@model MyRideSharing.Models.Ride

@{
    ViewBag.Title = "ثبت سفر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info text-center">
    <div class="info-title"><strong>ثبت سفر</strong></div>
    <hr>
</div>

@ViewBag.Error
@using (Html.BeginForm("Create", "Rides", FormMethod.Post, new { @class = "form-horizontal text-center" }))
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(model => model.myDate)
    @*@Html.DisplayFor(model => model.myDate)*@
    <br />
    @Html.EditorFor(model => model.myDate)
    <br />
    @Html.ValidationMessageFor(model => model.myDate)
    <br />

    <label for="Clock">ساعت حرکت</label><br />
    <div class="input-group clockpicker">

        @Html.EditorFor(model => model.myStartTime, new { @class = "form-control", value = "09:30" })
        

    </div>

    <br />
    @Html.LabelFor(model => model.Duration)
    <br />
    @Html.EditorFor(model => model.Duration)
    <br />
    @Html.ValidationMessageFor(model => model.Duration)
    <br />
    @Html.LabelFor(model => model.EmptySeats)
    <br />
    @Html.EditorFor(model => model.EmptySeats)
    <br />
    @Html.ValidationMessageFor(model => model.EmptySeats)
    <br />
    @Html.LabelFor(model => model.SourcePlace)
    <br />
    @Html.EditorFor(model => model.SourcePlace)
    <br />
    @Html.ValidationMessageFor(model => model.SourcePlace)
    <br />
    @Html.LabelFor(model => model.DestinationPlace)
    <br />
    @Html.EditorFor(model => model.DestinationPlace)
    <br />
    @Html.ValidationMessageFor(model => model.DestinationPlace)
    <br />
    @Html.LabelFor(model => model.Price)
    <br />
    @Html.EditorFor(model => model.Price)
    <br />
    @Html.ValidationMessageFor(model => model.Price)
    <br />

    @Html.LabelFor(model => model.Description)
<br />
    @Html.TextAreaFor(model => model.Description)
    <br />
    <br />
    <button class="btn btn-default-custom" type="submit" value="ثبت سفر">ثبت سفر</button>


}



@section styles{
    <link href="~/Scripts/JsDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/clockpicker.css" rel="stylesheet" />

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JsDatePicker/PersianDatePicker.min.js"></script>

    <script src="~/Scripts/JsDatePicker/clockpicker.js"></script>
    <script type="text/javascript">
            $('.clockpicker').clockpicker();


            $("#myDate").on("change",function () {
                alert("f");
            });

    </script>

}
