@model MyRideSharing.Models.Ride
@using (Html.BeginForm("GoToUni", "Rides", FormMethod.Post, new { @class = "form-vertical text-right" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h4>میخوام برم دانشگاه</h4>
        <div class="col-lg-4"></div>

        <div class="col-lg-2">
            <div class="col-lg-10">
                <label for="GoUni">&nbsp; </label><br />
                <button class="btn btn-default-custom" name="submit" type="submit">جستجو</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-10">
                <span class="fa fa-calendar" aria-hidden="true"></span>
                @Html.LabelFor(model => model.myDate)
                @{ Html.EnableClientValidation(false); }
                @Html.EditorFor(model => model.myDate)
                @{ Html.EnableClientValidation(true); }

                <br />
            </div>
        </div>

        <div class="col-lg-3">
            <div class="col-lg-10">
                <span class="fa fa-map-marker" aria-hidden="true">
                </span>
                @Html.LabelFor(model => model.SourcePlace)
                @Html.EditorFor(model => model.SourcePlace)
            </div>
        </div>
    </div>
}
<hr />
